# Python
backend/venv/
backend/venv2/
backend/__pycache__/
backend/**/*.pyc
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# VSCode
.vscode/

# OS junk
.DS_Store
Thumbs.db

backend/musicapp.db
